// Global styles

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #efefef;
}

body {
  padding: 15px;

  @include bp(sm) {
    padding: 40px;
  }
}