// SCSS Block - Overlay

.overlay {
  display: block;
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
  transition: opacity 0.35s ease;

  @at-root {
    .overlay--show {
      height: 100%;
      opacity: 0.5;
    }
  }
}
