// Vehicle Block

.vehicle-container {
  @include clearfix;
}

.vehicle {
  width: 100%;
  float: left;
  text-align: left;
  color: $col-text;
  box-shadow: 0 0 1px 0 #ccc;
  cursor: pointer;
  position: relative;
  transition: box-shadow 1s ease;

  &:hover {
    box-shadow: 0 0 10px 0 #ccc;
    z-index: 1;
  }

  // Nesting here for the nice hover effect
  &:hover .vehicle__image-element {
    width: 120%;
  }

  @include bp(sm) {
    width: 33.3333%;
    height: 420px;
    text-align: center;
  }

  @include bp(md) {
    width: 20%;
    height: 420px;
  }

  @at-root {
    .vehicle__information-area {
      padding: 30px 15px;

      @include bp(sm) {
        padding: 30px;
      }
    }

    .vehicle__info {
      font-size: 14px;
      line-height: 1.3;
    }

    .vehicle__title {
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 0 8px 0;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      display: inline-block;
      margin-bottom: 30px;
      letter-spacing: 4px;
      color: #000;
    }

    .vehicle__price {
      letter-spacing: 4px;
      margin-bottom: 30px;
    }

    .vehicle__image {
      position: relative;
      background: #ccc;
      padding: 26.34043%;
      overflow: hidden;
    }

    .vehicle__image-element {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      transition: width 0.35s ease;
    }

    .vehicle__info-text {
      margin-bottom: 20px;
    }

    .vehicle__info-text--capitalize {
      text-transform: capitalize;
    }

    .vehicle__strong-text {
      font-weight: bold;
    }
  }
}

