// SCSS Blocks - Popup

.vehicle-pop-up {
  position: fixed;
  bottom: -100%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: #FFF;
  opacity: 0;
  box-shadow: 0 0 10px 0 #ccc;
  transform: translateY(50%) translateX(-50%);
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in;
  z-index: 2;

  @include bp(sm) {
    width: 500px;
    height: 400px;
  }

  @at-root {
    .vehicle-pop-up--show {
      display: block;
      bottom: 50%;
      opacity: 1;
    }

    .vehicle-pop-up__close {
      padding: 15px;
      text-transform: uppercase;
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}